# HuggingFace Token (required for voice cloning)
# Get your token at: https://huggingface.co/settings/tokens
# Accept model license at: https://huggingface.co/kyutai/pocket-tts
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
